<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SYCH</title>

        <environment names="Development,Staging,Production ">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        </environment>
        @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    </head>
    <body>
        <!-- Nav Bar-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">SYCH</a>
                </div>
@if (User.Identity.IsAuthenticated)
{
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Ideas" asp-action="Index">Ideas</a></li>
                        <li><a asp-controller="Premium" asp-action="Index">Premium</a></li>
                        
                        <li><a asp-controller="Profiles" asp-action="Index">Find Team Members</a></li>
                      
                       
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Ideas" asp-action="Index">Ideas</a></li>
            <li><a asp-controller="Premium" asp-action="Index">Premium</a></li>
            
            <li><a asp-controller="Profiles" asp-action="Index">Find Team Members</a></li>
            <li><a asp-controller="FutureIdeas" asp-action="Index">Future Ideas</a></li>

        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>

}
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
            <br />
            <div class="box1"></div>
            <center>
                <br />
                <footer>
                    <p>&copy; 2016 - SYCH</p>
                    <a href="mailto:ssych@gmail.com?Subject=Hello%20again" target="_top">CustomerService</a>
                </footer>
                <div class="text-center center-block">
                    
                    <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
                   
                </div>
            </center>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
