@{
    ViewData["Title"] = "Home Page";
}
<header class="intro-header" style="background-image: url('http://i.imgur.com/QNgBp1r.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Welcome to <br /> Start Your Company Here!</h1>
                    <hr class="small">
                    <span class="subheading">The Ultimate Startup Website</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<div class="box1"></div>
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <center>
                <h1 class="page-header">
                    About Us
                    
                </h1>
            </center>
        </div>
    </div>



    <br />
    <center><h1>For Everyday Users</h1></center>

    <div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-check-square fa-5x pull-left"></i>

                <div class="text">
                    <h3>
                        Vote on Ideas 
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="fa fa-plus fa-5x pull-left"></i>

                <div class="text">
                    <h3>
                        We will help build an idea you like
                    </h3>
                </div>

            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="fa fa-search fa-5x pull-left"></i>

                    <div class="text">
                        <h3>
                           Find Team Members!
                          
                        </h3>
                    </div>
                </div>
            </div>
        </div>
</div>

    <!--
        <div class="row">
            <div class="col-md-3">
                <h2>Application uses</h2>
                <ul>
                    <li>Sample pages using ASP.NET MVC 6</li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=518007">Gulp</a> and <a href="http://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
                    <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>How to</h2>
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">Add an appsetting in config and access it in app.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Overview</h2>
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET 5</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET 5 such as Startup and middleware.</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Run & Deploy</h2>
                <ul>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on .NET Core</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands in your project.json</a></li>
                    <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                </ul>
            </div>
        </div>
        -->
