@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<center>
    <h1>Future Ideas we want to buid for our website</h1>
    <h4>Keep a lookout for updates!</h4>
    <ul>
        <li>Notification System</li>
        <li>Private Messaging</li>
           <li> Profile for user to show what ideas they are building out- other users can get in contact with that person</li>
           <li> Premium Plans payment using Stripe</li>
         <li>   Top voted ideas are at top</li>
           <li> Search filter through ideas</li>
           <li> Validation of ideas</li>
           <li> Validation of registered user</li>
          <li>  Search filter on find team members page</li>
        <li>Change design</li>


    </ul>
</center>

