@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="box2">
    <br />
    <center>
        <h1>Welcome to the good life!</h1>
        <h4>Please email sych@gmail.com with the plan you are interested in buying, as well as the project ID.</h4>
    </center>
</div>
<br />
<div class="box1"></div>
<br />
<center>
    <h1>For building out a website</h1>
</center>
<section id="plans">
    <div class="container">
        <div class="row">



            <!-- item -->
            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plan 1 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$20</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online support only (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Basic website starter kit</li>
                        <li class="list-group-item"><i class="fa fa-times"></i> Must have domain already</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->

            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plan 2 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$40</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online and phone support (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Website created for you</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Domain included</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

        </div>
    </div>
</section>
<center>
    <h1>For building out a mobile app</h1>
</center>
<section id="plans">
    <div class="container">
        <div class="row">


            <!-- item -->
            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-mobile"></i>
                        <h3>Plan 3 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$40</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online support only (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Basic mobile app starter kit (Either Android, iOS, Windows)</li>
                        

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->

            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-mobile"></i>
                        <h3>Plan 4 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$100</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online and phone support (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Mobile app created for you (Either Android, iOS, Windows)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Collaberation with our designers</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
        </div>
    </div>
</section>

<center>
    <h1>Combination Pricing</h1>
</center>
<section id="plans">
    <div class="container">
        <div class="row">


            <!-- item -->
            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-mobile"></i>
                        <h3>Plan 5 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$150</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online and phone support (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Created mobile app for all three platforms (Android, Windows, iOS)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Collaberation with our designers</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
            <!-- item -->

            <div class="col-md-6 col-sm-6 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop fa fa-mobile"></i>
                        <h3>Plan 6 </h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>$200</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Online and phone support (unlimited)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> File patent for you (if applicable)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Created mobile app for all three platforms (Android, Windows, iOS)</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Website created for you</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Collaberation with our designers</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Domain included</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="Payment.cshtml">BUY NOW!</a>
                    </div>
                </div>
            </div>
            <!-- /item -->
        </div>
    </div>
</section>